# This file contains snippets that are always defined. I personally
# have snippets for signatures and often needed texts

snippet --r	"signed as rongkf and a date"
--rongkf `!v strftime("%Y-%m-%d")`
endsnippet
