snippet // "line comment box"
// ------------------------------------------------------------------------
// ${1:to be or not to be...}
// ------------------------------------------------------------------------
endsnippet

snippet /*
/* ${1} */${2}
endsnippet
